#dogs {
  width: 200px; 
  height: 300px;
}
html {
  background-color: green;
  font-size: 20px;
}
body {
    background-color: darkgrey;
}
body.ul {
  background: red;
  padding: 10px;
  border: 1px solid black;
}

li {
  margin-left: 20px;
}

nav.tabs {
  background-color: orangered;
  display: inline-block;
}

h2 {
    border: 1px orangered;
}